html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.player{    /*video实时显示*/
    height:200px;
    width:300px;
}
.hasimg{   /*video， canvas   img*/
    display:inline-block;
    vertical-align: top;
}
.strip{    /*暂存的图像*/
    height:200px;
    width:300px;
}